<html>
	<script type="text/javascript">
	function sendCmd(cmd)
	{        
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				// Typical action to be performed when the document is ready:
				document.getElementById("status").innerHTML = xhttp.responseText;
				if(cmd == 'on'){
					document.getElementById(cmd).className = 'disabled';
					document.getElementById('off').className = 'off';
				}else if(cmd == 'off'){
					document.getElementById(cmd).className = 'disabled';
					document.getElementById('on').className = 'on';  
				}else if(cmd == 'emgStop'){
					if(document.getElementById('emgStop').className == 'reset'){
						document.getElementById('emgStop').className = 'emergency'; 
						document.getElementById('emgStop').innerHTML = 'Emergency Stop';
					}else{	 
						document.getElementById('emgStop').className = 'reset'; 
						document.getElementById('emgStop').innerHTML = 'Cleck to reset';
					}	
				}		
			}
		};
		if(cmd == 'emgStop' && document.getElementById('emgStop').className == 'reset'){
			xhttp.open("POST", "/reset", true);
		}else {	
			xhttp.open("POST", "/" + cmd, true);
		}	
		xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhttp.setRequestHeader("Content-length", "bot=1".length);
		xhttp.setRequestHeader("Connection", "close");
		xhttp.send("bot=1");
	}
	function readSerial(str)
	{
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
			   // Typical action to be performed when the document is ready:
			   document.getElementById(str).innerHTML = xhttp.responseText;
			   setTimeout(readSerial, 500, str);
			}
		};
		
		xhttp.open("POST", "/readSerial", true);
		xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhttp.setRequestHeader("Content-length", ("cmd="+str).length);
		xhttp.setRequestHeader("Connection", "close");
		xhttp.send("cmd="+str);
	}	
	setTimeout(readSerial, 300, "gps");
	setTimeout(readSerial, 300, "temp");
	setTimeout(readSerial, 300, "spd");
	</script>
    <head>
        <head>
        <meta charset="UTF-8">
        <title>NOCCA S100</title>
        <link href="stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    </head>
    <body>
        <div class="right">
            <h5>Welcome abcd</h5>
        </div>
        <div class="heading">
            <h1>Nocca Robotics Private Limited</h1> 
        </div>    
        <div class="heading">
            <h2>S100 control center</h2>
        </div>
        
        <hr>

        <div style="width: 100%;">
            <button id="on" onclick="sendCmd('on')" type="button" class="on">ON</button>
            <button id="off" onclick="sendCmd('off')" type="button" class="off">OFF</button>
        </div>
        <h2>Status</h2>
        <div style="width: 100%; height: 200px; margin-bottom: 30px;"> 
            <textarea wrap="hard" id="status" readonly="" style="width: 50%;"></textarea>
            <button id="emgStop" onclick="sendCmd('emgStop')" type="button" class="emergency">Emergency Stop</button>
        </div>
       
        <div style="width: 100%; height: 200px;" class="sensor">
            <div class="col" style="width: 24%; height: 100%;">
                <label class="home" for="gps">GPS co-ordinates</label>
                <textarea wrap="hard" readonly="" id="gps">gps</textarea>
            </div> 
            <div class="col" style="width: 24%; height: 100%;">
                <label class="home" for="temp">Electronics Temperature</label>
                <textarea wrap="hard" readonly="" id="temp">temp</textarea>
            </div>    
            <div class="col" style="width: 24%; height: 100%;">
                <label class="home" for="batt">Battery Status</label>
                <textarea wrap="hard" readonly="" id="batt">batt</textarea>
            </div>    
            <div class="col" style="width: 24%; height: 100%;">
                <label class="home" for="spd">Encoder Data</label>
                <textarea wrap="hard" readonly="" id="spd">dist</textarea>
            </div>
        </div>    
    </body>
</html>
