<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link href="stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body class="login">
        <div class="login">
            <form method="post" action="/home">
                <label for="uname">Username</label>
                <input type="text" id="uname" name="username" placeholder="username" required>

                <label for="pwd">Password</label>
                <input type="password" id="pwd" name="password" placeholder="password" required>
                <button type="submit" value="Login" ><span>Login</span></button>
            </form>
        </div>
    </body>
</html>
